{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h2>Passwords</h2>
  
  <table>
    <tr>
      <th>Website Name</th>
      <th>Website Address</th>
      <th></th>
      <th></th>
    </tr>

    {% for password in page_obj %}
      <tr>
        <td>{{ password.website_name }}</td>
        <td>{{ password.website_address }}</td>
        <td><a href="#">Show Password</a></td>
        <td><a href="#">Delete</a></td>
      </tr>
    {% endfor %}
    
  </table>

  <br />
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
</div>
{% endblock content %}
